// NAVIGATION ANIMATION STYLING
.navbar {
    width: 100%;
    height: 0;

    background-color: $clr-secondary;

    display: none;
    flex-direction: column;
    align-items: center;

    transition: .8s ease height;
    transition-delay: .5s;

    .close {
        opacity: 0;
        filter: $white-filter;
        margin-top: 5vh;
        width: 32px;
        transition: .5s ease opacity;
        cursor: pointer;
        &:hover {
            filter: $yellow-filter;
        }
    }
}

.nav-list {
    display: none;
    transform: translateX(-768px);
}

.menu {
    margin: auto;
    margin-top: 5vh;
    width: 32px;
    transition: .5s ease opacity;
    cursor: pointer;
    display: block;
    opacity: 1;
    &:hover {
        filter: $blue-filter;
    }
}

.section-content, .nav-list {
    transition: .7s ease transform;
}

// NAVIGATION LIST STYLING
.main {
    width: 80%;
    max-width: 400px;
    
    margin-top: 1em;

    color: $clr-primary;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    .nav-item {
        margin-bottom: 1em;
        padding: 1em;
        cursor: pointer;
        &:hover {
            background-color: $clr-light-secondary;
            border-radius: 1em 0em 1em 0em;
        }
    }
    .active {
        background-color: $clr-primary;
        color: $clr-secondary;
        border-radius: 1em 0em 1em 0em;
        &:hover {
            background-color: $clr-primary;
        }
    }
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    .profile-picture {
        border-radius: 100%;
        width: 175px;
        border: 4px solid $clr-accent-yellow;
    }
    .span-accent {
        margin-top: 1em;
        color: $clr-accent-yellow;

        font-weight: lighter;
    }
}

.icons {
    display: flex;
    justify-content: space-evenly;
    width: 100%;

    position: absolute;
    bottom: 1em;
    img {
        filter: $white-filter;
        width: 32px;
        cursor: pointer;
        &:hover {
            filter: $yellow-filter;
        }
    }
}

@media screen and (min-width: 1024px) {
    // REMOVE ICON
    .menu {
        display: none;
    }
    // MAIN SECTIONS MOVE THIS LATER
    .section-content {
        width: 60%;
        .profile {
            width: 100%;
            height: 100%;
            display: grid;
            place-items: center;
            h1 {
                text-transform: uppercase;
                font-size: clamp(4em, 6.5vw, 8em);
            }
        }
    }
    .navbar {
        display: flex;
        height: 100%;
        width: 30%;
        margin-right: 10%;
        .nav-list {
            display: flex;
            transform: translateX(0px);
            width: 80%;
        }
        .icons {
            width: 30%;
        }
    }
    .content {
        margin-top: clamp(1em, 8vh, 6em);
        .profile-picture {
            width: 250px;
        }
    }
}