// COLORS

$clr-primary: #FFFFFF;
$clr-secondary: #585FFF;
$clr-accent-yellow: #FEFF4D; 

// TYPOGRAPGY
$font-ubuntu: 'Ubuntu', sans-serif;

// ICONS
$white-filter: invert(100%) sepia(8%) saturate(7496%) hue-rotate(199deg) brightness(123%) contrast(102%);