// COLORS

$clr-primary: #FFFFFF;
$clr-secondary: #575fff;
$clr-light-secondary: #737aff;
$clr-accent-yellow: #FEFF4D;
$clr-black: #242424; 

// TYPOGRAPGY
$font-ubuntu: 'Ubuntu', sans-serif;

// ICONS
$white-filter: invert(100%) sepia(8%) saturate(7496%) hue-rotate(199deg) brightness(123%) contrast(102%);
$yellow-filter: invert(93%) sepia(99%) saturate(798%) hue-rotate(322deg) brightness(117%) contrast(114%);
$blue-filter: invert(51%) sepia(86%) saturate(5512%) hue-rotate(227deg) brightness(100%) contrast(102%);