@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
.navbar {
  width: 100%;
  height: 0;
  background-color: #575fff;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .8s ease height;
  transition: .8s ease height;
  -webkit-transition-delay: .5s;
          transition-delay: .5s;
}

.navbar .close {
  opacity: 0;
  -webkit-filter: invert(100%) sepia(8%) saturate(7496%) hue-rotate(199deg) brightness(123%) contrast(102%);
          filter: invert(100%) sepia(8%) saturate(7496%) hue-rotate(199deg) brightness(123%) contrast(102%);
  margin-top: 5vh;
  width: 32px;
  -webkit-transition: .5s ease opacity;
  transition: .5s ease opacity;
  cursor: pointer;
}

.navbar .close:hover {
  -webkit-filter: invert(93%) sepia(99%) saturate(798%) hue-rotate(322deg) brightness(117%) contrast(114%);
          filter: invert(93%) sepia(99%) saturate(798%) hue-rotate(322deg) brightness(117%) contrast(114%);
}

.nav-list {
  display: none;
  -webkit-transform: translateX(-768px);
          transform: translateX(-768px);
}

.menu {
  margin: auto;
  margin-top: 5vh;
  width: 32px;
  -webkit-transition: .5s ease opacity;
  transition: .5s ease opacity;
  cursor: pointer;
  display: block;
  opacity: 1;
}

.menu:hover {
  -webkit-filter: invert(51%) sepia(86%) saturate(5512%) hue-rotate(227deg) brightness(100%) contrast(102%);
          filter: invert(51%) sepia(86%) saturate(5512%) hue-rotate(227deg) brightness(100%) contrast(102%);
}

.section-content, .nav-list {
  -webkit-transition: .7s ease transform;
  transition: .7s ease transform;
}

.main {
  width: 80%;
  max-width: 400px;
  margin-top: 1em;
  color: #FFFFFF;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.main .nav-item {
  margin-bottom: 1em;
  padding: 1em;
  cursor: pointer;
}

.main .nav-item:hover {
  background-color: #737aff;
  border-radius: 1em 0em 1em 0em;
}

.main .active {
  background-color: #FFFFFF;
  color: #575fff;
  border-radius: 1em 0em 1em 0em;
}

.main .active:hover {
  background-color: #FFFFFF;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .profile-picture {
  border-radius: 100%;
  width: 175px;
  border: 4px solid #FEFF4D;
}

.content .span-accent {
  margin-top: 1em;
  color: #FEFF4D;
  font-weight: lighter;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  position: absolute;
  bottom: 1em;
}

.icons img {
  -webkit-filter: invert(100%) sepia(8%) saturate(7496%) hue-rotate(199deg) brightness(123%) contrast(102%);
          filter: invert(100%) sepia(8%) saturate(7496%) hue-rotate(199deg) brightness(123%) contrast(102%);
  width: 32px;
  cursor: pointer;
}

.icons img:hover {
  -webkit-filter: invert(93%) sepia(99%) saturate(798%) hue-rotate(322deg) brightness(117%) contrast(114%);
          filter: invert(93%) sepia(99%) saturate(798%) hue-rotate(322deg) brightness(117%) contrast(114%);
}

@media screen and (min-width: 1024px) {
  .menu {
    display: none;
  }
  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    width: 30%;
    margin-right: 10%;
  }
  .navbar .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    width: 80%;
  }
  .navbar .icons {
    width: 25%;
  }
  .content {
    margin-top: clamp(1em, 8vh, 6em);
  }
  .content .profile-picture {
    width: 250px;
  }
}

.section-content {
  width: 100%;
  margin-top: 10vh;
}

.section-content .profile {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-content .profile h1 {
  position: relative;
  text-transform: uppercase;
  color: #242424;
  font-size: clamp(2em, 6.5vw, 8em);
}

.section-content .profile h1::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background-color: #575fff;
  padding-bottom: .2em;
  position: absolute;
}

.section-content .profile .highlight {
  color: #FFFFFF;
  background-color: #575fff;
  padding: .2em .6em;
}

@media screen and (min-width: 1024px) {
  .section-content .profile {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  width: 100%;
  height: 100vh;
}

@media screen and (min-width: 1024px) {
  .container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}
/*# sourceMappingURL=styles.css.map */